
.hstyle {
  color: #493a22;
}
.h6style {
  color: #a78a2b;;
}
.pstyle {
  color: #5b4a2c;
  font-size: 24px;
}

.servicep {
  color: #5b4a2c;
  font-size: 24px;
  padding-top: px;
}
.footer {
  background: #f8f9fa; /* Light background for the footer */
  padding: 20px 0; /* Padding for spacing */
}

.footer2-bottom {
  background: linear-gradient(120deg, 
    rgb(59, 48, 10) 0%,   /* Darker gold */
    rgb(191, 149, 10) 50%,  /* Mid-tone gold */
    rgb(59, 48, 10) 100%   /* Darker gold */
  ); 
  display: flex;
  justify-content: center; /* Center the items horizontally */
  align-items: center;     /* Center the items vertically */
  height: 40px;            /* Fixed height for the footer */
  color: #ffffff;          /* White text color for contrast */
  font-weight: bold;       /* Bold font for emphasis */
  padding: 0 30px;         /* Add padding for better spacing */
  position: relative;      /* Relative positioning for any additional elements */
}
/* Responsive styles */
@media (max-width: 768px) {
  .contact-info {
    flex-direction: column; /* Stack items vertically on smaller screens */
  }

  .contact-item {
    font-size: 14px; /* Smaller font size for mobile */
  }
}
.contact-info {
  display: flex;
  justify-content: center; /* Center elements horizontally */
  align-items: center;     /* Center elements vertically */
  font-size: 16px;        /* Font size for better readability */
}

.contact-item {
  display: flex;
  align-items: center;     /* Align icon with text */
  margin: 0 10px;         /* Add margin for spacing between items */
}

.contact-icon {
  font-size: 18px;        /* Icon size */
  margin-right: 5px;      /* Space between icon and text */
  color: #ffffff;         /* Ensure icon is white */
}

.contact-link {
  color: #ffffff;         /* Link color */
  text-decoration: none;   /* Remove underline */
}


.footer-bottom {
  background: #343a40;  /* Dark background for the copyright section */
  color: #ffffff;        /* White text for copyright */
  padding: 10px 0;      /* Padding for spacing */
}

/* Optional: Style for contact information */
.contact-info {
  display: flex;
  flex-direction: row;      /* Arrange items in a row */
  justify-content: center;   /* Center align */
  align-items: center;       /* Center vertically */
  font-size: 18px;          /* Increase font size for better visibility */
}

.contact-item {
  display: flex;
  align-items: center;      /* Center icons and text */
  margin: 16px 16px 0px;          /* Add margin for spacing */
}

.contact-icon {
  font-size: 20px;          /* Increase icon size */
  margin-right: 16px;        /* Space between icon and text */
  color: #ffffff;           /* Icon color */
}

.contact-link {
  color: #ffffff;           /* Link color */
  text-decoration: none;     /* Remove underline */
}

.HeaderBar {
  background: linear-gradient(120deg, #000000, #4b4b4b, #000000); /* Black to Grey gradient */
  display: flex;
  width: 100%;
  align-items: center;
  height: 80px;
  position: relative;
  border-top: 2px solid #d4af37; /* Elegant golden border on top */
  border-bottom: 2px solid #d4af37; /* Elegant golden border on bottom */
  background-image: 
    radial-gradient(circle at 10% 10%, rgba(0, 0, 0, 0.7) 100%, transparent 80%),
    linear-gradient(120deg, rgba(0, 0, 0, 0.6) 25%, transparent 25%, 
    transparent 75%, rgba(0, 0, 0, 0.3) 75%),
    linear-gradient(to top, rgba(0, 0, 0, .5) 50%, transparent 100%); /* Subtle effects */
  background-size: cover, cover, cover;
  background-blend-mode: overlay; /* Blends gradients together */
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.5); /* Subtle shadow for depth */
}

/* Burger Icon and Logo Container */
.header .container {
  display: flex;
  align-items: center;
  justify-content: flex-start; /* Aligns items to the start of the container */
}

.HeaderBar .navbar-toggler {
  border: none; /* Remove default border */
  border-radius: 5px; /* Rounded corners for a modern look */
  padding: 10px; /* Add padding for better click area */
  margin-right: 20px; /* Add margin-right to separate it from the logo */
  transition: background-color 0.3s ease, transform 0.3s ease; /* Smooth transition effects */
  order: 1; /* Ensure the burger menu comes first */
}

/* Logo Styling */
.header .logo {
  display: flex;
  align-items: center;
  margin-left: 10px;  
  order: 2;  
}

/* Styling for header items */
.HeaderItem {
  color: #eec174 !important;  
  margin-left: 60px;
  margin-right: 60px;
  font-size: 1.2rem;  
  font-family: 'Poppins', sans-serif;
  transition: color 0.3s ease-in-out; /* Adding transition for color change */
}
 
/* Styling for nav links and dropdown toggle */
.HeaderBar .nav-link,
.HeaderBar .nav-item .dropdown-toggle {
  color: #cda765 !important;
  transition: color 0.3s ease;
}

.HeaderBar .nav-link:hover,
.HeaderBar .nav-item .dropdown-toggle:hover,
.header nav ul li a:hover {
  color: #d4af37 !important;  
}

/* Navigation Styling */
.header nav {
  display: flex;
  align-items: center;
}

.header nav ul {
  list-style: none;
  padding: 0;
  margin: 0;
  display: flex;
}

.header nav ul li {
  margin-left: 20px;
}

.header nav ul li a {
  text-decoration: none;
  color: #f0f0f0;  
  font-size: 16px;
  font-weight: 500;
  transition: color 0.3s ease;
}

/* CTA Button Styling */
.header .cta-button {
  transition: background-color 0.3s ease;
}

.header .cta-button:hover {
  background-color: #5b4a2c;
}

.navbar-collapse {
  flex: 2;
  justify-content: center;
}
 
/* Header Link Styling */
.headerLink {
  color: #eec174;
  margin: 0 1rem;
  text-align: center;
  font-size: 1rem;
}

 


/* Navbar Navigation Styling */
.navbar-nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  width: 100%;
  
}

/* Media Query for Mobile */
@media (max-width: 768px) {
  .navbar-collapse {
    background: linear-gradient(90deg, #1e1e1e, #4b4b4b);
    padding: 1rem;
    z-index: 5;
    position: absolute;
    top: 80px;
    left: 0; /* إضافة هذه السطر */
    width: 100%;
    margin: 0; /* تأكد من إزالة أي هوامش */
  }
 
  

  
  .navbar-nav {
    flex-direction: column;
  }

  .headerLink {
    margin: 0.5rem 0; /* Adjusted margin for mobile view */
    text-align: center;
    
  }
}

/* Header Content Styling */
.header-content {
  position: relative;
  z-index: 3;
  color: #d4af37; /* Gold color */
  font-family: 'Poppins', sans-serif;
  font-size: 1.5rem; /* Larger font size for emphasis */
  font-weight: bold;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5); /* Subtle text shadow for better readability */
}

/* Style for the Burger Menu Icon */
.HeaderBar .navbar-toggler-icon {
  background-image: none; /* Remove default background image */
  width: 30px; /* Adjust size as needed */
  height: 30px; /* Adjust size as needed */
  position: relative; /* Position relative for the lines */
}

.HeaderBar .navbar-toggler-icon::before,
.HeaderBar .navbar-toggler-icon::after {
  content: "";
  display: block;
  width: 30px; /* Adjust width to match icon size */
  height: 3px; /* Adjust thickness of lines */
  background-color: #d4af37; /* Yellow color for lines */
  position: absolute;
  left: 0;
  transition: transform 0.3s ease;
}

.HeaderBar .navbar-toggler-icon::before {
  top: 5px; /* Adjust spacing from the top */
}

.HeaderBar .navbar-toggler-icon::after {
  top: 20px; /* Adjust spacing for the second line */
}


/* Body Styles */
.body {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  position: relative;
  background-image: url('/src/Images/bg.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed; /* This will keep the background in place */
  flex: 1;
}

 


/* Footer Styles */
.footer {
  background-color: #343a40;
  color: #fff;
  padding: 50px 0 0;
}

.footer h3 {
  color: #fff;
}

.footer p {
  color: #ccc;
}

.footer ul {
  list-style-type: none;
  padding: 0;
}

.footer ul li {
  margin-bottom: 10px;
}

.footer ul li a {
  color: #ccc;
  text-decoration: none;
}

.footer ul li a:hover {
  color: #fff;
}

.footer-bottom {
  background-color: #292b2c;
  color: #fff;
  padding: 10px 0;
}



/* Sections */
.section1 {
  position: relative;
  padding-right: 800px;
  white-space: nowrap;
  padding-bottom: 50px;
}

.section2 {
  padding-top: 10px;
  padding-bottom: 10px;
}

@media screen and (max-width: 768px) {
  .section2 {
    padding-top: 20px;
    padding-bottom: 20px;
  }
}
.photo {
  width: 100%;
  height: auto;
  transition: transform 0.5s ease;
}
 /* Grid Container */
.grid-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 20px auto;
}

/* Grid Item */
.grid-item {
  flex: 1 1 calc(33% - 30px); /* Adjust width with margin */
  margin: 15px; /* Margin for spacing between cards */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}
/* Pulsing animation */
@keyframes pulsing {
  0% {
    transform: scale(1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  50% {
    transform: scale(1.01);
    box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}
/* Custom Card */
.custom-card {
  padding: 20px; /* Padding for better content spacing */
  height: 250px; /* Adjusted height */
  min-height: 150px; /* Set a minimum height for consistency */
  box-shadow: 0px 8px 16px rgba(0, 0, 0, 0.2); /* Enhanced shadow for depth */
  margin-bottom: 20px;
  overflow: hidden;
  border-radius: 12px; /* Rounded corners */
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer; /* Indicate that the card is clickable */
  background: #fff; /* White background for cards */
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

/* Animation when clicked */
.custom-card.expanded {
  transform: scale(1.05) translateY(-5px); /* Scale up slightly and move up */
  box-shadow: 0 12px 24px rgba(0, 0, 0, 0.3); /* Enhanced shadow for emphasis */
 }

.custom-card:hover {
  transform: scale(1.02); /* Slight scaling on hover */
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2); /* Shadow effect on hover */
}

/* Card Body */
.custom-card .card-body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

/* Card Title */
.custom-card .card-title {
  padding-top: 10px;
  color: #695a37;
  font-weight: bold;
  margin-bottom: 10px;
  font-size: 1.2rem; /* Larger font size for titles */
  text-align: center;
}

/* Card Text */
.custom-card .card-text {
  padding-top: 10px;
  color: #343a40;
  text-align: center;
  word-wrap: break-word;
  opacity: 0; /* Initially hide the text */
  transition: opacity 0.3s ease;
}

/* Show text when card is expanded */
.custom-card.expanded .card-text {
  opacity: 1; /* Show the text when clicked */
}

/* SVG Icon */
.custom-card .svg-inline--fa {
  color: #A28B55;
  margin-bottom: 10px;
}

/* Responsive adjustments */
@media (max-width: 1200px) {
  .grid-item {
    flex: 1 1 calc(50% - 30px); /* Two cards per row for medium screens */
  }
  .custom-card .svg-inline--fa {
    width: 0.7em; /* Smaller icon size on smaller screens */
    height: 0.7em;
  }
}

@media (max-width: 768px) {
  .grid-item {
    flex: 1 1 calc(50% - 30px); /* Full width for smaller screens */
  }
  .custom-card .svg-inline--fa {
    width: 0.7em; /* Smaller icon size on smaller screens */
    height: 0.7em;
  }
}
/* Pulsing animation */
@keyframes pulsing {
  0% {
    transform: scale(1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  50% {
    transform: scale(1.01);
    box-shadow: 0 12px 20px rgba(0, 0, 0, 0.3);
  }
  100% {
    transform: scale(1);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
}

/* Pulsing effect */
.custom-card.pulsing {
  animation: pulsing 2s infinite; 
}
 

/* WhatsApp Tab Styles */
.whatsapp-tab {
  position: fixed;
  left: 0px;
  top: 70%;
  transform: translateY(-50%);
  background-color: #25d366;
  color: #fff;
  padding: 8px;
  border-radius: 0 64px 64px 0;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: width 0.3s;
  z-index: 10;
}

.whatsapp-tab:hover {
  background-color: #1fb255;
}

.whatsapp-tab h3 {
  margin: 16px;
  font-size: 16px;
}

.whatsapp-tab .icon {
  margin-left: 16px;
}

.app-container {
  position: relative;
  overflow: hidden;
}

/* Form Styles */
.theformcontainer {
  background-color: rgba(0, 0, 0, 0.1); /* Black background with 50% opacity */
}

 
 /* Loader styles */
.image-blur {
  filter: blur(20px);
  transition: filter 0.5s ease, transform 0.5s ease;
  transform: scale(1.1); /* Slight zoom effect during blur */
}

.image-loaded {
  filter: blur(0px);
  transform: scale(1); /* Reset scale when fully loaded */
}
  /* Ensure carousel controls are clickable */
.carousel-control-prev, .carousel-control-next {
  z-index: 5; /* Increase z-index to ensure controls are on top of other elements */
  pointer-events: all; /* Ensure pointer events are enabled */
}

/* Style for control icons */
.carousel-control-prev-icon, .carousel-control-next-icon {
   padding: 10px;
  border-radius: 50%; /* Round control buttons */
}

/* Carousel container */
.custom-carousel {
  position: relative;
  overflow: hidden;
}

/* Image container */
.carousel-image-container {
  position: relative;
  overflow: hidden;
}

/* Image styles */
.carousel-image-container img {
  width: 100%;
  height: auto;
  max-height: 700px;
  object-fit: cover;
  display: block;
  margin: 0 auto;
  transition: transform 0.8s ease; /* Add smooth image transition */
}

/* Text overlay */
.carousel-text-overlay {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  color: #fff;
  text-align: center;
  padding: 20px;
  background: rgba(0, 0, 0, 0.7);
  z-index: 1; /* Ensure text overlay is below controls */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;
  transition: opacity 1s ease, transform 1s ease; /* Smooth fade-in effect */
}

/* Fade-in effect for overlay when slide becomes active */
.carousel-item.active .carousel-text-overlay {
  opacity: 1;
  transform: translateY(0); /* Moves the text to its final position */
}

/* Header styles */
.carouselHeader {
  margin: 0;
  font-size: 2em;
  font-weight: bold;
  letter-spacing: 1px;
}

/* Paragraph styles */
.carouselParagraph {
  margin: 10px 0 0;
  font-size: 1.2em;
  line-height: 1.5;
}

/* Responsive styles for medium screens */
@media (max-width: 768px) {
  .carousel-text-overlay {
    padding: 15px;
  }

  .carouselHeader {
    font-size: 1.5em;
  }

  .carouselParagraph {
    font-size: 1em;
  }
}

/* Responsive styles for small screens */
@media (max-width: 576px) {
  .carousel-text-overlay {
    padding: 10px;
  }

  .carouselHeader {
    font-size: 1.2em;
  }

  .carouselParagraph {
    font-size: 0.9em;
  }
}


/* Photo Gallery Styles */

.photo-gallery {
  margin-top: 20px;
  padding: 0 64px;
  position: relative;
  overflow: visible;
}

.gallery-item {
  position: relative;
  overflow: hidden;
  cursor: pointer;
  transition: box-shadow 0.3s ease-in-out, transform 0.3s ease-in-out; /* Smooth transition */
}

.gallery-image {
  width: 100%;
  height: auto;
  margin-bottom: 20px;
   transition: transform 0.3s ease-in-out, opacity 0.3s ease-in-out; /* Smooth scaling and opacity transition */
}

.gallery-item:hover .gallery-image {
  transform: scale(1.05); /* Slight scale effect on hover */
  opacity: 0.9; /* Subtle fade effect on hover */
}

.gallery-item.scaled .gallery-image {
  position: fixed; /* Keep the image in view */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%) scale(var(--scale-factor, 1)); /* Instant scaling effect */
  z-index: 1000; /* Ensure the image is above other content */
  max-width: 70vw; /* Maximum width of 70% of viewport width */
  max-height: 70vh; /* Maximum height of 70% of viewport height */
  object-fit: contain; /* Ensures the image scales proportionally within max dimensions */
  transition: transform 0.5s ease-in-out; /* Smooth scaling transition */
}

.gallery-item:not(.scaled) .gallery-image {
  transition: transform 0.3s ease-in-out; /* Smooth transition when returning to original size */
}

.gallery-item.scaled .overlay,
.gallery-item.scaled .overlay-text {
  display: none; /* Hide overlay and text when zoomed */
}

.overlay-gallery-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
 }

.gallery-item:hover .overlay-gallery-image {
  opacity: 0.6; /* Increase opacity on hover */
  background-color: rgba(162, 139, 85, 0.5);
}

.overlay-text {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 18px;
  font-weight: bold;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 90%;
  border-radius: 8px;
  background-color: rgba(46, 61, 225, 0);
  transition: background-color 0.5s ease-in-out;
}

.gallery-item:hover .overlay {
  background-color: rgba(119, 90, 31, 0.3);
}

.gallery-item:hover .overlay-text {
  opacity: 1;
}

/* Responsive Design */
@media screen and (max-width: 768px) {
  .photo-gallery {
    padding: 0 20px;
  }
}

/* Golden Button */
.golden-button {
    background-color: gold;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

.golden-button:hover {
    background-color: darkgoldenrod;
}

/* Services Tabs */
/* Custom Styles for Tabs */
.custom-tabs .nav-link {
  color: #b8860b; /* Dark golden text color */
  font-weight: bold;
  border: 1px solid transparent;
  border-radius: 5px; /* Rounded corners */
  padding: 10px 15px; /* Adjust padding for better touch targets */
  transition: background-color 0.3s, color 0.3s, transform 0.3s; /* Smooth transitions */
}

/* Style for active tab */
.custom-tabs .nav-link.active {
  color: #fff; /* White text color for active tab */
  background-color: #b8860b; /* Dark golden background for active tab */
  border-color: #b8860b; /* Border color for active tab */
 }

/* Style for tab hover */
.custom-tabs .nav-link:hover {
  color: #fff; /* White text color on hover */
  background-color: rgba(124, 92, 12, 0.8); /* Slightly darker gold with transparency on hover */
 }

/* Style for tab content */
.custom-tabs .tab-content {
  border-top: 1px solid #b8860b; /* Border below the tab headers */
  padding: 15px; /* Padding inside the tab content */
}

/* Mobile responsiveness */
@media screen and (max-width: 768px) {
  .custom-tabs .nav-link {
    font-size: 0.9rem; /* Smaller font size on mobile */
    padding: 8px 12px; /* Adjust padding for mobile screens */
  }

  .custom-tabs .tab-content {
    padding: 10px; /* Adjust padding for mobile screens */
  }
}

/* Extra large screens */
@media screen and (min-width: 1200px) {
  .custom-tabs .nav-link {
    font-size: 1.1rem; /* Larger font size for extra-large screens */
    padding: 12px 20px; /* Increased padding for extra-large screens */
  }
}

/*material images*/
 .material-item img {
  width: 100%; /* Ensure the image fits the width of its container */
  height: 160px; /* Set a fixed height for all images */
  object-fit: cover; /* Ensure images cover the container without distortion */
  border-radius: 8px;
}
.service-image {
  border-radius: 12px;
  width: 100%;
  max-width: 400px;
  height: auto;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
  margin-bottom: 16px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  cursor: pointer;
}
/* Add this to your CSS file */
.image-gallery {
  position: relative;
}

.enlarged-image {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s ease;
}

.enlarged-image.active {
  visibility: visible;
  opacity: 1;
}

.enlarged-image img {
  max-width: 90%;
  max-height: 80%;
  border-radius: 12px;
}

.enlarged-image .close-button {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  color: white;
  background: rgba(0, 0, 0, 0.5);
  border: none;
  padding: 10px;
  cursor: pointer;
}

.enlarged-image .nav-button {
  position: absolute;
  top: 50%;
  background: rgba(255, 255, 255, 0.5);
  border: none;
  padding: 10px;
  cursor: pointer;
  font-size: 24px;
}

.enlarged-image .nav-button.prev {
  left: 10px;
}

.enlarged-image .nav-button.next {
  right: 10px;
}

.about-image {
  border-radius: 8px; /* Rounded corners */
     box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow */
  margin-bottom: 20px;
}




/* src/Uteletis/PhotoSlider.css */
.slider-container {
  width: 100%;
  overflow: hidden;
  white-space: nowrap;
}

.image-wrapper {
  display: inline-block;
  padding: 0 15px; /* Adjust horizontal padding if needed */
  padding-bottom: 20px; /* Add padding to the bottom */
}

.slider-image {
  width: 300px; /* Increase width as needed */
  height: 150px; /* Ensure height is consistent */
  object-fit: cover; /* Maintain aspect ratio and cover the area */
  display: block;
  border-radius: 8px; /* Round the corners */
 }
/*quote*/

.quoteSection {
  margin-bottom: 40px;
  padding: 20px;
  background: rgba(255, 255, 255, 0.5); /* Dark transparent background */
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.quoteSection h2 {
  font-size: 24px;
  margin-bottom: 20px;
  color:  #cda765;
}

.quoteSection p {
  font-size: 16px;
  margin-bottom: 15px;
  color: #555;
}
 

.manufacturer-photo  {
  text-align: center;
  
  transition: transform 0.3s, box-shadow 0.3s;
  cursor: pointer;
}

 

.quoteForm .form-group {
  margin-bottom: 30px;
}

.quoteForm input[type="text"], 
.quoteForm input[type="email"], 
.quoteForm input[type="radio"] {
  border-radius: 4px;
  border: 1px solid #ced4da;
  padding: 10px;
  width: 100%;
  font-size: 16px;
}

.quoteForm input[type="checkbox"] {
  margin-right: 10px;
}

.quoteForm label {
  font-size: 14px;
  color: #555;
}

.quoteForm button {
  margin-top: 16px;
  background-color:  #cda765; /* Adjust the background color */
  color: white; /* Adjust text color */
  border: none; /* Remove border */
  padding: 10px 20px; /* Adjust padding */
  font-size: 16px; /* Adjust font size */
  border-radius: 5px; /* Adjust border radius */
  cursor: pointer; /* Change cursor on hover */
 }

.quoteForm button:disabled {
  margin-top: 16px;
  background-color:  #d5ba8a; /* Disabled button background color */
  cursor: not-allowed; /* Change cursor on disabled */
}

/* Custom pagination styles */
.pagination {
  justify-content: center;
  margin-top: 20px;
}

.pagination .page-item {
  margin: 0 5px;
}

.pagination .page-link {
  color: #cda765; /* Primary color for the pagination links */
  background-color: #fff;
  border: 1px solid #cda765;
  border-radius: 50%;
  width: 36px;
  height: 36px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 0.3s, color 0.3s, border-color 0.3s;
}

.pagination .page-link:hover {
  color: #fff;
  background-color: #cda765;
  border-color: #cda765;
  text-decoration: none;
}

.pagination .page-item.active .page-link {
  color: #fff;
  background-color: #cda765;
  border-color: #cda765;
}

.pagination .page-link:focus {
  box-shadow: none;
}
/*our work*/
  
/* Kitchen component styling */
 
.close-button, .nav-button {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(0, 0, 0, 0.6);
  border: none;
  color: white;
  font-size: 24px;
  cursor: pointer;
  padding: 10px;
  border-radius: 50%;
  transition: background 0.3s ease;
}

.close-button {
  right: 20px;
}

.nav-button {
  background: rgba(0, 0, 0, 0.6);
}

.prev {
  left: 20px;
}

.next {
  right: 70px;
}

.nav-button:hover, .close-button:hover {
  background: rgba(0, 0, 0, 0.8);
}

 
.subtitle {
  color: #493a22;

  font-size: 1.2rem;
  font-weight: 500;
  letter-spacing: 1px;
}

/* For tablets and smaller desktops */
@media (max-width: 992px) {
  .subtitle {
    font-size: 1.1rem;
    letter-spacing: 0.8px;
  }
}

/* For small tablets and large mobile devices */
@media (max-width: 768px) {
  .subtitle {
    font-size: 1rem;
    letter-spacing: 0.6px;
  }
}

/* For mobile devices */
@media (max-width: 576px) {
  .subtitle {
    font-size: 1rem;
    letter-spacing: 0.5px;
  }
}


.our-work-link {
  text-decoration: none;
  color: inherit; /* Inherit text color for the link */
}

.our-work-image-container {
  overflow: hidden;
  border-radius: 10px;
}

.our-work-image {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
}

.our-work-image-container:hover .our-work-image {
  transform: scale(1.1); /* Slight zoom effect on hover */
}

.our-work-subtitle {
  margin-top: 10px;
  font-size: 1.25rem;
  font-weight: bold;
  color: #b8860b; /* White text color for subtitles */
  transition: color 0.3s ease;
}
/* General styles for images */
.material-item {
  cursor: pointer;
  position: relative;
  padding: 14px;
  border: 1px solid #ddd;
  border-radius: 8px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  text-align: center; /* Center-align the text */
}

.material-item img {
  margin-bottom: 10px; /* Add margin below the image to create space between the image and text */
  max-width: 100%; /* Ensure the image is responsive */
 }

.material-item:hover {
  transform: scale(1.02);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.material-item.selected {
  border: 2px solid #b8860b;
  background: linear-gradient(135deg, #604706 0%, #fbdea7 100%);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transform: scale(1.02);
  z-index: 1;
  color: #ffffff; /* Set text color to white */
}


/* Add this to your CSS file or styled-components */

.quote-link {
  color: #b8860b; /* Golden color */
  text-decoration: none; /* Remove underline */
  font-weight: bold;
  transition: color 0.3s, text-shadow 0.3s;
}

.body {
  position: relative;
  min-height: 100vh; /* Ensure body takes at least the full height of the viewport */
}

 
.text-danger {
  color: red;
  font-size: 0.875rem;
  margin-top: 0.25rem;
}

.text-success {
  color: green;
  font-size: 1rem;
  margin-top: 0.5rem;
}
/* Style for selected cards */
.measurement-card.selected,
.feature-card.selected,
.shape-card.selected {
  border: 2px solid #b8860b;
  background: linear-gradient(135deg, #604706 0%, #fbdea7 100%);
  transform: scale(1.05); /* Slightly enlarge the selected card */
  transition: transform 0.2s ease-in-out, box-shadow 0.2s ease-in-out; /* Smooth transition for hover and selection */
  color: white; /* Change text color to white when selected */
}

/* Add hover effect for all cards */
.measurement-card:hover,
.feature-card:hover,
.shape-card:hover {
  transform: scale(1.03); /* Slightly enlarge on hover */
  box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
}

/* Add padding between cards */
.measurement-card,
.feature-card,
.shape-card {
  margin-bottom: 20px; /* Space between rows of cards */
  padding: 10px; /* Inner padding for the card content */
}

/* Text styling for selected cards */
.measurement-card.selected .card-title,
.feature-card.selected .card-title,
.shape-card.selected .card-title {
  color: white; /* Ensure the text inside the selected card is white */
  
}

/* Ensure the text inside the card body is white when selected */
.measurement-card.selected .card-body,
.feature-card.selected .card-body,
.shape-card.selected .card-body {
  color: white;
}
 /* Review Card Styles */
 
.review-card:hover {
  box-shadow: 0px 8px 16px rgba(#A28B55, 0.4);
  transform: scale(1.03);
}

.review-card h2 {
  color: #333;
}

.review-card p {
  color: #666;
}

.review-card .fa-star:nth-child(-n +5) {
  color: #ffcc00;
}
.slider-image {
  transition: transform 0.4s cubic-bezier(0.25, 1, 0.5, 1), box-shadow 0.4s ease; /* Smoother transition */
  border-radius: 8px; /* Rounded corners for a more polished look */
  width: 100%; /* Make sure images are responsive */
  max-width: 350px; /* Limit maximum width for larger screens */
}

.slider-image:hover {
  transform: scale(1.15); /* Scale slightly larger */
  box-shadow: 0 15px 30px rgba(0, 0, 0, 0.2); /* Add a shadow to give a lifting effect */
}

 

.slider-row {
  margin-bottom: 20px; /* Add space between rows */
}

/* تصميم الشاشات الصغيرة */
@media (max-width: 768px) {
  .slider-image {
    max-width: 200px; /* Reduce image size on smaller screens */
  }

  .image-wrapper {
    padding: 10px; /* Adjust padding for mobile screens */
  }

  .slider-row {
    margin-bottom: 15px; /* Reduce space between rows on mobile */
  }
}
 /* Common Card Styles for KitchenSelection and ShapeSelection */
.measurement-card, .shape-card {
    transition: transform 0.3s ease, box-shadow 0.3s ease;
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.16);
}

.measurement-card:hover, .shape-card:hover {
    transform: scale(1.05);
 }

 